<div class="relevant">
    <div class="relevant-header">
        <h1>Relevante saker</h1>
    </div>
    <div class="relevant-category">
        <div class="relevant-category-header">
          <h1>Nasjonalt</h1>  
        </div>
        <div class="relevant-category-content">
        </div>
    </div>
    <div class="relevant-category">
        <div class="relevant-category-header">
          <h1>Kommunalt</h1>  
        </div>
        <div class="relevant-category-content">
        </div>
    </div>
    <div class="relevant-category">
        <div class="relevant-category-header">
          <h1>Lokalt</h1>  
        </div>
        <div class="relevant-category-content">
        </div>
    </div>

</div>