.content{
    width: 70%;
    background-color: white;
    color: black;
    margin: 0px;
    border: 15px solid #ef2b2d;
    margin: 15px;
    border-radius: 5pc;
    contain: paint;
}
.content-header{

}
.content-content{
    display: inline-flex;
    background-color: black;
    margin: auto;
    flex-wrap: wrap;
    flex: auto;
}
.content-block{
    width: 17%;
    /* background-color: #ef2b2d; */
    background-color: #8e1d1e;
    color: white;
    /* border: 10px solid #ef2b2d; */
    border:10px solid #b32728;
    margin: 15px;
    min-width: 250px;

}
.edition-2{
    background-color: white;
    color:black;
    border-color: white;
}
.content-block-header{

}
.content-block-content{
    color: white;
    background-color: #002868;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px;
}